html

    head
        include ../templates/head
        link(rel="stylesheet" href="/admin/css/home.css")

    body
        #app
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                a.navbar-brand(href="/")
                    include ../img/logo.svg
                    span.app-name
                        |Website Admin

                button.navbar-toggler(type="button" @click="showCollapseMenu = !showCollapseMenu")
                    span.navbar-toggler-icon

                div(:class="['collapse navbar-collapse', { show: showCollapseMenu }]")
                    ul.navbar-nav.mr-auto
                        li(v-if="pages.length > 1" :class="['nav-item dropdown', { show: showPagesDropdown }]" ref="pagesDropdown")
                            a.nav-link.dropdown-toggle.no-toggle-icon(href="javascript:void(0)" @click="showPagesDropdown = !showPagesDropdown")
                                |Pages
                                icon(name="chevron-down").ml-1
                            div(:class="['dropdown-menu', { show: showPagesDropdown }]")
                                a(v-for="page in pages"
                                    :key="page.id"
                                    :class="['dropdown-item', { active: activePage ===  page.id}]"
                                    href="javascript:void(0)"
                                    @click.prevent="activePage = page.id"
                                )
                                    |{{ page.name }}

                    button.ml-auto.btn.btn-primary(@click="publish")
                        |Publish

            .container-fluid.pt-3
                h2.mb-4
                    icon(name="home").mr-2
                    |Home

                h3
                    |Main Image

                div(v-show="!imagePreviews['home-main']")
                    button.btn.btn-secondary(@click="imagePreviews['home-main'] = {}")
                        icon(name="edit").mr-1
                        |Edit
                    .mt-2.row
                        .col-lg-6
                            img.img-fluid(
                                srcset="/admin/uploads/images/home-main.jpg, /admin/uploads/images/home-main@2x.jpg 2x"
                                src="/admin/uploads/images/home-main.jpg"
                                ref="home-main"
                            )

                div(v-show="!!imagePreviews['home-main']")
                    button.btn.btn-primary(
                        v-show="imagePreviews['home-main'] && imagePreviews['home-main'].img"
                        @click="uploadCropped('home-main')"
                    )
                        icon(name="check-circle").mr-1
                        |Done
                    button.btn.btn-outline-danger(@click="closeImageUpload('home-main')")
                        icon(name="x-circle").mr-1
                        |Cancel
                    .mt-2.row
                        .col-lg-6
                            file-upload(
                                v-show="!imagePreviews['home-main'] || !imagePreviews['home-main'].img"
                                name="file"
                                description="Drop a file here, or click 'Browse'"
                                @change="handleImageChange($event, 'home-main')"
                            )
                            div(v-show="imagePreviews['home-main'] && imagePreviews['home-main'].img")
                                canvas(ref="home-main-preview").img-fluid




        //- Components
        include ../components/icon/icon
        include ../components/file-upload/file-upload

        script(src="/admin/js/main.js")
